doctype html
head
  title Uteach
  link(rel='stylesheet', href='/css/reset.css')
  link(rel='stylesheet', href='/css/core.css')
  link(rel='stylesheet', h/css/tref='https://fonts.googleapis.com/css?family=Roboto+Slab:400')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400')
  script(defer='true', src='https://use.fontawesome.com/releases/v5.0.2/js/all.js')
  meta(name="viewport", content="width=device-width, initial-scale=1")
body
  .header.fixed-top.fullwidth.vcenter.shadow.spaceBetween
    .w5
      a.ml2.f1(href='tutors-list') Tutores
      
    img(src='/images/logo.png', width='154rem')
    
    .w5
      a.mr2.f1(href='/logout') Logout
    
  form.fullwidth.hcenter(action='/saveProfile', method='POST')
    input(type='hidden', name='_csrf', value='#{csrf}')
    
    .card.shadow.mt0-5.w37
      .mt2.flex.spaceBetween
        h2.cb.ml4 Perfil
        input.mr2.w8-5.bc1.fr(value='Guardar', type='submit')
        
      .mt2.inlineFlex
        img(src='/images/user.png').ml2.mr2.w8.h8.mt2
        .column
          input.w23.input(placeholder='Artur Filipe Machado', type='text' name='name', value='#{user.name}')
          input.w23.input(placeholder='exemplo_email@uteach.com', type='email' name='email', value='#{user.email}')
          input.w23.input(placeholder='9826301549', type='tel' name='phone', value='#{user.phone}')
          input.w23.input(placeholder='Engenharia Informatica', type='text' name='course', value='#{user.course}')
          .inlineFlex
            input.w18.input(placeholder='Mestrado', type='text' name='rank', value='#{user.rank}')
            input.w5.input(placeholder='2', type='number' name='year', min='0', value='#{user.year}')
          input.w23.input(placeholder='************************', type='Password' name='password')
      
      .horizontalDivider.mt2.mr2.ml2(data-content="Area de Tutor")
      
      if isStudent
        .hcenter.mt2
            h2.cb Queres te tornar um tutor?
            
        .hcenter.mt1.mb2
          .column
            a.fr.cw(href='/becomeTutor')
              .button.w13.bc1 Tornar-me tutor
      
      else
        .inlineFlex.spaceBetween.mr2.ml2.w33
          h2.cb.mt1-5 Que topicos queres ensinar?
          h3.c1.mt2 Pontuacao: 3.5 / 5
          
        .mt1.mr2.ml2
          label 1.
          input.input.w15.ml1(placeholder='Topico (Ex: Programacao)')
          input.input.w15.ml1(placeholder='Area (Ex: Robotica)')
        
        .mt1.mr2.ml2
          label 2.
          input.input.w15.ml1(placeholder='Topico (Ex: Programacao)')
          input.input.w15.ml1(placeholder='Area (Ex: Robotica)')
        
        .mt1.mr2.ml2.mb2
          label 3.
          input.input.w15.ml1(placeholder='Topico (Ex: Programacao)')
          input.input.w15.ml1(placeholder='Area (Ex: Robotica)')
