doctype html
head
  title Uteach
  link(rel='stylesheet', href='/css/reset.css')
  link(rel='stylesheet', href='/css/core.css')
  link(rel='stylesheet', h/css/tref='https://fonts.googleapis.com/css?family=Roboto+Slab:400')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400')
  script(defer='true', src='https://use.fontawesome.com/releases/v5.0.2/js/all.js')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  script(async='true', src="https://www.googletagmanager.com/gtag/js?id=UA-111880667-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111880667-1');

body
  .header.fixed-top.fullwidth.vcenter.shadow.spaceBetween
    .w5
      a.ml2(href='/profile').f1 Perfil
    
    img(src='/images/logo.png', width='154rem')
    
    .w5
      a.mr2.f1(href='/logout') Logout
    
  .fullwidth.hcenter
    .card.shadow.mt0-5.w37.h2.vcenter
      i.fas.fa-search.ml1
      input.invisibleInput.w33-5(placeholder='Insere as palavras chave do que procuras. Ex: web design', type='text', oninput='updateTutorsList(this)', csrf='#{csrf}')
  
  .fullwidth.hcenter
    tutors_list.column
      - for (let tutorInfo of tutorsInfo)
        .card.shadow.mt1.w37.h9.inlineFlex.vcenter(user-id='#{tutorInfo.userID}', onclick='seeTutorProfile(this)')
          img(src='/images/user.png').ml2.mr2.w6
          .column
            h2= tutorInfo.name
            h3= tutorInfo.topicName
            h3= tutorInfo.fieldName
            h3.c1= 'Pontuacao: ' + tutorInfo.rating + ' / 5'
  
  script(src='/js/index.js')
